.flip-card {
  background-color: transparent;
  width: 530px;
  height: 300px;
  perspective: 1000px;
  padding: 0 5px 0 5px;
  max-width: 100vw;
  box-sizing: border-box;
  display: block;
  clear: both;
  margin: 10px 0;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

.flip-card-front {
  background-color: white;
  color: black;
}

.flip-card-front img {
  float: none !important;
  display: block;
  margin: 0;
}

.flip-card-back {
  border-radius: 9px;
  font-size: 15px;
  line-height: 1.4;
  padding: 15px;
  background-color: #202020;
  color: white;
  transform: rotateX(180deg);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@media (max-width: 768px) {
  .flip-card {
    width: 95vw;
    max-width: 95vw;
  }
}

@media (max-width: 480px) {
  .flip-card {
    width: 90vw;
    max-width: 90vw;
  }
  
  .flip-card-front img {
    width: calc(100vw - 4px);
    height: auto;
    max-width: calc(100vw - 4px);
  }
}

.flip-card-back h3 {
  text-align: center;
  margin: 0 0 15px 0;
  padding: 8px 5px;
  background: #F47006;
  border-radius: 5px;
  font-size: 14px;
  line-height: 1.3;
  transition: all 0.2s ease-out;
}

.flip-card-back p {
  margin: 5px 0;
  padding: 0;
}

.flip-card-back-first-item {
  margin-top: 0 !important;
  padding-top: 0 !important;
}