.mymultiplediv{
		cursor:pointer;
	  }
	/* .mymultiplediv{
		width: 150px;
		margin: 10px;
		padding: 10px;
		color: #2b96cc;    
		text-align: center;
	} */
	.mydiv{
		display:none;
	}
	.mydiv img{
	  margin: 0 auto;
	}
	.mydiv2{
		display:none;
		padding:10px;
		text-align:center;
	}
	.mydiv2 img{
	  margin: 0 auto;
	}
	/* .mydiv span{
		text-align: center;
		background: #ffdede;
		padding: 6px 10px;
		display: block;
		width: 100px;
		border: 1px solid #d47c7c;
		margin: 8px auto;
	} */