.center { 
  margin: auto;
  width: 100%;
  padding: 5px;
}
/* .desktop-menu {
  height: 30px;
  width: 85%;
}
.mobile-menu {
  height: 30px;
  width: 85%;
} */
.frame {
  display:flex; /* 水平排列 */
  justify-content: center; /* 水平置中對齊 */
  align-items: center; /* 垂直置中對齊 */  
  height: 500px;
}
#item1, #item2 {
  text-align: center;
  flex: none;
  width: 40%;
  height: 400px;
  margin: 5px;
  border: 1px solid gray;
}
/* .footer {
  text-align: center;
  height: 66px;
  width: 100%;
  border: 1px solid gray;
} */
 
#menuPad { display: block;}
#menuMobile {
  position:absolute;
  top: 50px;
  left: 15px;
  width: 250px;
  height: 90px;
  z-index: 999;
  display: none;
}
#footer { display: block;} 
#mobileFooter { display: none; text-align: center; font-size: 14px;}
/* On TABLET screens < 1500px */
@media screen and (max-width: 1500px) {   
  #main_index { background-repeat: repeat; height: 155vh;}
  .ilogoBar { width: auto; height:75px;padding-top:10px;}
  #ilogoImg img { width: 35%; height: auto; position: absolute; top: 10px; left:72px;}   
  #logoImg img { width: 35%; height: auto; position: absolute; top: 10px; left:72px;} 
  #logoIframe {padding:25px 200px 10px; }
  #footer { display: none;} 
  #menuPad { display: none;}
  #menuMobile { display: block; position: absolute; top: 12px; }  
  #indexContent {
    flex-wrap:wrap;
    justify-content: center; /* 水平置中對齊 */
  }
  #indexNews {
    width: 95vh;    
	  margin: 3px;
	  padding: 5px;
    font-size: 11px;
    background: rgb(255, 255, 255);
  }  
  #indexNews li {
    min-height:30px; line-height:14px; margin-left:15px;
  }
  #indexNews li a { 
    white-space: nowrap; 
    width: 550px; 
    overflow: hidden;
    text-overflow: ellipsis;  
    font-size: 13px;
  }
  #indexAir {
    width: 95vh; 
	  margin: 10px 3px;
	  padding: 5px;
    background: rgb(255, 255, 255);
  }
  #mobileFooter { display: block; width:100%; margin-top: 10px; background-color: #1d2087;z-index: 990; }
  .dl-menuwrapper li a {
    font-size: 14.5px;
    padding: 12px 5px; 
  }
  #Content { width:100vw; padding: 0 5px; }
  .copyBasic_L {width: 50vw;}
  .copyBasi_R {width: 50vw;}
}
/* On TABLET screens < 1000px
@media screen and (max-width: 1000px) {  
  #ilogoImg img, #logoImg img { width: 55%; height: auto; position: absolute; top: 5px; left:72px;}  
  #logoIframe {padding:25px 50px 10px; }
  #menuMobile { display: block; position: absolute; top: 12px; } 
  #Content { width:100vw; padding: 0 5px; }
  #mobileFooter { display: block; width:100%; margin-top: 10px; background-color: #1d2087;z-index: 990; }
}  */
/* On TABLET screens < 650px */
@media screen and (max-width: 650px) {   
  #main_index { background-repeat: repeat; height: 132vh; }
  .ilogoBar { width: auto; height:70px;padding-top:10px;}
  #ilogoImg img { width: 75%; height: auto; position: absolute; top: 12px; left:70px;}  
  #logoImg img { width: 95%; height: auto; position: absolute; top: 5px; left:10px;}  
  #logoIframe {padding:25px 60px 10px; }
  #menuPad { display: none;}
  #footer { display: none;} 
  #menuMobile { display: block; position: absolute; top: 25px; }   
  .dl-menuwrapper button {
    width: 41px;
    height: 43px;
  }
  #indexContent {
    flex-wrap:wrap;
    justify-content: center; /* 水平置中對齊 */
  }
  #indexNews {
    width: 370px;  
	  margin: 3px; 
	  padding: 5px;
    font-size: 12px;
    background: rgb(255, 255, 255);
  }
  #indexNews li {
    min-height:25px; line-height:13px; margin-left:12px;
  }
  #indexNews li a { 
    white-space: nowrap; 
    width: 320px; 
    overflow: hidden;
    text-overflow: ellipsis;  
    font-size: 12.5px;
  }
  #indexAir {
    width: 370px;  
	  margin: 10px 3px;
	  padding: 5px -1px;
    background: rgb(255, 255, 255);
  }
  #mobileFooter { display: block; width:100%; margin-top: 10px; background-color: #1d2087;z-index: 990; }
  .dl-menuwrapper li a {
    font-size: 14px;
    padding: 10px 3px; 
  }
  #Content { width:100vw; padding: 0 5px; }
  .aboutMenu_1-out, .aboutMenu_1-over, .aboutMenu_2-out, .aboutMenu_2-over, .aboutMenu_3-out, .aboutMenu_3-over, .aboutMenu_4-out, .aboutMenu_4-over, .aboutMenu_5-out, .aboutMenu_5-over, .aboutMenu_6-out, .aboutMenu_6-over {
    width: 180px; height: 62px; float:left; margin: 10px 7px;
  }
  .copyBasic_L {width: 50vw;}
  .copyBasi_R {width: 50vw;}
}