@charset "utf-8";
/* CSS Document */
/*
=========== 透明度 ===========
	opacity: 0.7;
	-moz-opacity:0.7;
	filter: alpha(opacity=70);
	background-color: #000;

*/
.menuIframe {
	width:100%; height:90px; margin-top:5px;
}
#menuPad {
	position: relative; width:1030px; height:74px;
	margin: 7px auto; padding: 10px 0px;
	background:url(../images/btn_menu_BG.png) no-repeat top center;
}
#menuPad ul {
	clear:both; margin-left:50px;
}
#menuPad li {
	
}

.menuBtn_1-out, .menuBtn_1-over, .menuBtn_2-out, .menuBtn_2-over, .menuBtn_3-out, .menuBtn_3-over, .menuBtn_4-out, .menuBtn_4-over, .menuBtn_5-out, .menuBtn_5-over, .menuBtn_6-out, .menuBtn_6-over {
	width:195px; height:42px; float: left; margin-left:-32px;
}
.menuBtn_1-out {
	background:url(../images/btn_menu_1.png) no-repeat top;
}
.menuBtn_1-over {
	background:url(../images/btn_menu_1.png) no-repeat bottom;
}
.menuBtn_2-out {
	background:url(../images/btn_menu_2.png) no-repeat top;
}
.menuBtn_2-over {
	background:url(../images/btn_menu_2.png) no-repeat bottom;
}
.menuBtn_3-out {
	background:url(../images/btn_menu_3.png) no-repeat top;
}
.menuBtn_3-over {
	background:url(../images/btn_menu_3.png) no-repeat bottom;
}
.menuBtn_4-out {
	background:url(../images/btn_menu_4.png) no-repeat top;
}
.menuBtn_4-over {
	background:url(../images/btn_menu_4.png) no-repeat bottom;
}
.menuBtn_5-out {
	background:url(../images/btn_menu_5.png) no-repeat top;
}
.menuBtn_5-over {
	background:url(../images/btn_menu_5.png) no-repeat bottom;
}
.menuBtn_6-out {
	background:url(../images/btn_menu_6.png) no-repeat top;
}
.menuBtn_6-over {
	background:url(../images/btn_menu_6.png) no-repeat bottom;
}

/* child_Menu*/
.chdMenuPad {
	position: absolute; bottom:0px;
}
.chdMenuPad li {
	float:left; margin: 0px;
}
.chdMenuPad_L, .chdMenuPad_B, .chdMenuPad_R {
	height:28px; line-height:28px;
}
.chdMenuPad_L {
	/* background:url(../images/btn_menu_bg_l.png) no-repeat;
	background:url(../images/btn_menu_bg_0.png) no-repeat; */
	background:url(../images/btn_menu_bg_1.png) no-repeat;
	width:18px;
}
.chdMenuPad_B {
	/* background:url(../images/btn_menu_bg_s.png) repeat-x; */
	background:url(../images/btn_menu_bg_s.png) repeat-x;
	width:auto; font-size:16px; font-weight:bold;
}
.chdMenuPad_B a:link, .chdMenuPad_B a:visited{
	color:#ccc;
}
.chdMenuPad_B a:hover, .chdMenuPad_B a:active{
	color:#59c21f;
}
.chdMenuPad_R {
	/* background:url(../images/btn_menu_bg_r.png) no-repeat;
	background:url(../images/btn_menu_bg_0.png) no-repeat; */
	background:url(../images/btn_menu_bg_1.png) no-repeat;
	width:18px;
}


/*==== about Menu ====*/
.aboutMenu_1-out, .aboutMenu_1-over, .aboutMenu_2-out, .aboutMenu_2-over, .aboutMenu_3-out, .aboutMenu_3-over, .aboutMenu_4-out, .aboutMenu_4-over, .aboutMenu_5-out, .aboutMenu_5-over, .aboutMenu_6-out, .aboutMenu_6-over {
	width: 236px; height: 68.5px; float:left; margin: 15px 10px;
}
.aboutMenu_1-out {
	background:url(../images/adoutMenu_1.png) no-repeat top;
}
.aboutMenu_1-over {
	background:url(../images/adoutMenu_1.png) no-repeat bottom;
}
.aboutMenu_2-out {
	background:url(../images/adoutMenu_2.png) no-repeat top;
}
.aboutMenu_2-over {
	background:url(../images/adoutMenu_2.png) no-repeat bottom;
}
.aboutMenu_3-out {
	background:url(../images/adoutMenu_3.png) no-repeat top;
}
.aboutMenu_3-over {
	background:url(../images/adoutMenu_3.png) no-repeat bottom;
}
.aboutMenu_4-out {
	background:url(../images/adoutMenu_4.png) no-repeat top;
}
.aboutMenu_4-over {
	background:url(../images/adoutMenu_4.png) no-repeat bottom;
}
.aboutMenu_5-out {
	background:url(../images/adoutMenu_5.png) no-repeat top;
}
.aboutMenu_5-over {
	background:url(../images/adoutMenu_5.png) no-repeat bottom;
}
.aboutMenu_6-out {
	background:url(../images/adoutMenu_6.png) no-repeat top;
}
.aboutMenu_6-over {
	background:url(../images/adoutMenu_6.png) no-repeat bottom;
}